/*** Margin Bottom ***/
.u-mb-10 {
    margin-bottom: 10px;
}

.u-mb-20 {
    margin-bottom: 20px;
}

.u-mb-50 {
    margin-bottom: 50px;
}


/*** Margin Top ***/
.u-mt-20 {
    margin-top: 20px;
}

.u-mt-30 {
    margin-top: 20px;
}

.u-mt-50 {
    margin-top: 50px;
}